# Python virtual environment
.venv/
venv/

# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables or secrets
.env
*.env
.env.*

# System-specific
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Slack User IDs
src/config.py

# Slack webhook safety (if you accidentally save it)
alert_team.pyc

# Logs/output
*.log

# Pycache for tests
tests/__pycache__/